/* BOOTSTRAP ROOT */
:root {
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
    'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-color: #dee2e6;
  --bs-border-radius: 0.375rem;
}

/* styles */

body {
  margin: 0;

  background-color: rgb(209, 239, 239);
}

.form {
  margin-top: 150px;

  width: 500px;

  border-radius: 20px;

  padding: 30px 50px 10px 50px;

  background: rgb(2, 0, 36);

  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 0%,
    rgba(0, 224, 255, 1) 100%
  );

  -moz-box-shadow: 0 0 10px #777777;

  -webkit-box-shadow: 0 0 10px #777777;

  box-shadow: 0 0 10px #777777;
}

.form h1 {
  color: white;

  font-size: 3rem;

  font-weight: bold;

  margin-bottom: 30px;
}

.signup_button button {
  color: white;

  width: 100%;

  font-size: 1.2rem;

  padding: 12px;

  background-color: #4caf4fc7;

  border: 1px solid #4caf4fc7;

  border-radius: 10px;
}

.signup_button a {
  color: white;
}

.signup_button button:hover {
  background-color: #4caf4f;

  border-color: #4caf4f;
}

.form p {
  margin-top: 20px;
}

/* ADAPTED FROM BOOTSTRAP 5 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: rgb(209, 239, 239);

  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
}

#form1 {
  padding-bottom: 50px;
}

.container {
  max-width: 720px;
  margin-inline: auto;
}

.h1 {
  margin-top: 0;
  line-height: 1.2;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.form-floating {
  position: relative;
}

.form-floating > .form-control::placeholder {
  color: transparent;
}

.form-control::placeholder {
  opacity: 1;
}

.form-floating > .form-control {
  padding: 1rem 0.75rem;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-floating > .form-control:focus {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* focus text effect */

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65) !important;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: '';
  background-color: var(--bs-body-bg);
  border-radius: var(--bs-border-radius);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
/* end effect */

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

  text-align: start;
  white-space: nowrap;
  pointer-events: none;
}

input {
  margin: 0;
  font-family: inherit;
}

label {
  display: inline-block;
}

button:not(:disabled) {
  cursor: pointer;
}

/* checkbox */

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.form-check-input:checked[type='checkbox'] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input[type='checkbox'] {
  border-radius: 0.25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  --bs-form-check-bg: var(--bs-body-bg);
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
}

/* not Bootstrap */
.form {
  margin-top: 150px;

  width: 500px;

  border-radius: 20px;

  padding: 30px 50px 10px 50px;

  background: rgb(2, 0, 36);

  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 0%,
    rgba(0, 224, 255, 1) 100%
  );

  -moz-box-shadow: 0 0 10px #777777;

  -webkit-box-shadow: 0 0 10px #777777;

  box-shadow: 0 0 10px #777777;
}

.form h1 {
  color: white;

  font-size: 3rem;

  font-weight: bold;

  margin-bottom: 30px;

  text-align: center;
}

.signup_button button {
  color: white;

  width: 100%;

  font-size: 1.2rem;

  padding: 12px;

  background-color: #4caf4fc7;

  border: 1px solid #4caf4fc7;

  border-radius: 10px;
}

.signup_button a {
  color: white;
}

.signup_button button:hover {
  background-color: #4caf4f;

  border-color: #4caf4f;
}

.form p {
  margin-top: 20px;
}

.invalid-feedback {
  font-weight: 800;
  color: white;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0;
}

.demo-login {
  font-size: 0.85rem;
}
